body {
  font-family: "Roboto", sans-serif;
  color: #000000;
}
button {
  font-family: inherit;
}
/*хедер*/
.logo-header {
  font-family: "Raleway", sans-serif;
  font-weight: 700px;
  font-size: 26px;
  line-height: 1.19;

  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
}
.studio-header-logo {
  color: #000000;
}
/*меню навигации Студия,Портфолио,Контакты*/
.site-nav {
  font-weight: 500px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
/*Номер и почта*/
.contact-nav-header {
  font-weight: 500px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav,
.link-header {
  text-decoration: none;
}
.link-header:hover,
.link-header:focus {
  color: #2196f3;
}
.link-header,
.link-header:active {
  color: var(--title-text-color);
}
/*Сброс точек у Li*/
.list {
  list-style: none;
}
/*Центральная зона*/
/* Эффективные решения для вашего бизнеса */
.hero-text {
  background-color: #2f303a;
  font-weight: 900px;
  font-size: 44px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.button-hero {
  font-weight: 700px;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  /*сама кнопка фон*/
  background-color: #2196f3;
  border-radius: 4px;
}
/* характеристики */
.title-char {
  font-weight: 700px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.title-char-p {
  font-size: 14px;
  line-height: 1.7;

  letter-spacing: 0.03em;

  color: #757575;
}
/*Чем мы занимаемся*/
.work {
  font-weight: 700px;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
/*Наша команда*/
.sect-team {
  background: #f5f4fa;
}
.our-team {
  font-weight: 700px;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.name-team {
  font-weight: 500px;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
.descr-team {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
/* Футер */
.footer {
  background-color: #2f303a;
}
.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700px;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
}
.studio-footer-logo {
  font-weight: 700px;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.adress {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.contact-nav-footer {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.link-footer {
  text-decoration: none;
}
.link-footer:hover,
.link-footer:focus {
  color: #2196f3;
}
.link-footer,
.link-footer:active {
  color: var(--title-text-color);
}
/*Центральная секция в Portfolio */
.button-filter {
  background: #f5f4fa;
  border-radius: 4px;
  font-weight: 500px;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.button-filter:hover {
  background-color: #2196f3;
  color: #ffffff;
}
/*Картинки и текст*/
.text-filters {
  font-weight: 700px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.text-filters-p {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}
